@import url("./reset.css");
@import url("./navbar.css");





/* *{
    scrollbar-width:thin;
    scrollbar-color: #f1f1f1 transparent;
} */
/* ::-webkit-scrollbar{
    width: 6px;
    height: 20px;
} */

body{
    background-color: #120907;
    color: #f1f1f1;
    /* height: 300vh; */
}

/* Début style de la navbar (avec animations hover)*/

/* .right-cart-logo img{
    width: 40px;
} */

.navbar{

    /*Gère l'animation d'apparition au chargement de la page*/
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 1.3s ease-out forwards;
}



/* Fin style navbar */

/*Début style flèche de navigation*/

.nav-buttons button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.go-down-btn{
    position: fixed;
    bottom: 50px;
    right: 30px;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in;
    z-index: 10;
    /* border: inset 1px crimson; */
}

.go-down-btn:hover{
    transform: rotate(90deg) translateX(10px);
}

.go-to-top-btn{
    position: fixed;
    bottom: 50px;
    right: 70px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in;
    z-index: 10;

}
.go-to-top-btn:hover{
    transform: rotate(-90deg) translateX(10px);
}

nav button img{
    width: 100%;
    height: 100%;
}

/*Début style du logo*/
main .center-logo{
    position: relative;
    z-index: 3;
    margin: 0 auto ;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(-60px);
    animation: logoapparition 0.8s ease-out forwards;
}
main .center-logo a{
    display: block;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f1f1f1;
    transition: opacity 0.3s;
    /* border: 1px solid crimson; */
}

main .center-logo a:hover{
    opacity: 0.5;
    
}

main .center-logo .return{
    display: block;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 18px;
    transform: translateY(-7px);
}

main .center-logo p{
    font-family: EB Garamond, sans-serif;
}
main .center-logo span{
    font-size: 28px;
}
/*Fin style du logo*/


/*Début style main*/

/*début style hero section*/

.hero-video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: bottom;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero-content{
    height:calc(100vh - 50px - 50px);
    padding: 25vh 0 0;
    font-family: Great Vibes, sans-serif;
    text-align: center;
    font-size: 70px;
}

.hero-content p{
    opacity: 0;
}

.hero-content > p:nth-child(1){
    animation: apparition 0.8s 0.4s ease-out forwards;
    transform: translateY(-30px);
}
.hero-content > p:nth-child(2){
    animation: apparition 0.8s 1.3s ease-out forwards;
    transform: translateY(30px);
}


.hero-content .subtitle{
    margin-top: 20px;
    font-size: 50px;
}

/*Fin style hero-section*/

.main{
    background-color: #120907;
}


.cards-container{
    padding: 100px 0;
    background-color: #120907;
    ;
    /* background-image: url(../../ressources/fond-chocolat-marron.jpg); */
}

.card{
    z-index: 0;
    height: 1000px;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
    font-family: Open Sans, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card .text-content{
    /* border: 1px solid green; */
    grid-column: 2/3;
    margin: auto 30px auto 0;
  
}


.card .text-content .desc-line{
    display: block;
}
.card-title{
    font-family: Great Vibes, sans-serif;
    font-size: 60px;
}
.card-description{
    font-weight: 300;
    font-size: 22px;
}

.card a{
    position: relative;
    cursor: pointer;
    object-fit: cover;
    margin: auto;
    height: 30vw;
    /* box-shadow: 3px 3px 5px rgba(255,255,255,0.8); */
}

.card img{
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    clip-path: inset(0%);
    transition: clip-path 0.4s;
    border-radius: 10px;
}

.card a::before{
    content: "";
    position: absolute;
    top: 42%;
    left: -30%;
    z-index: 1;
    width: 60%;
    height: 1px;
    background-color: #f1f1f1;
    transition: transform 0.4s 0.1s;
}

.card a:hover img{
    clip-path: inset(6% 6% 6% 6%);
}

.card a:hover::before{
    transform: translateX(20%);
}


.card.inverted{
    grid-template-columns: 1fr 170px 1fr;
}

.card.inverted .link{
    order: -1;
}

.card.inverted .text-content{
    /* margin:auto 0 auto auto; */
    grid-column:3/4;
}

.card.inverted a::before{
    left: 90%;
}

.card.inverted a:hover::before{
    transform: translateX(-30%);
}

.reservation-roll{
    overflow: hidden;
    background-image: url(../ressources/fond-chocolat-marron.jpg);
    padding: 100px 0;
    margin: 100px 0 100px;
    text-align: center;
}

.reservation-roll h2{
    margin-bottom: 30px;
    font-family: Great Vibes, sans-serif;
    font-weight: 300;
    font-size: 60px;
}

.reservation-roll p{
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.reservation-roll a{
    display: block;
    width: 200px;
    margin: 0 auto;
    text-decoration: none;
    color: #f1f1f1;
    font-family: Open Sans, sans-serif;
    font-size: 25px;
    font-weight: 300;
    position: relative;
}

.reservation-roll a::after{
    content: "";
    width: 60%;
    height: 1px;
    background-color: #f1f1f1;
    position: absolute;
    bottom: -8px;
    right:20.5%;
    transform: scale(0);
    transition: transform 0.3s ease-in;
}

.reservation-roll a:hover::after{
    transform: scale(0.6);
}


/* Style du footer */

footer{
    border-top: 1px solid #783b18;
    background-color: #0e0b0a;
}

footer p{
    padding: 30px 0;
    text-align: center;
}

footer p a{
    text-decoration: none;
    cursor: pointer;
    color: #783b18;
}


/* Gestion des apparitions */
.reveal{
    opacity: 0;
    transform: translateX(30px);
}

.reveal.inverted{
    opacity:0;
    transform: translateX(-30px);
}

.reveal-visible{
    opacity:1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.5,0,0,1);
}
.reveal-visible.inverted{
    opacity:1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.5,0,0,1);
}

#reservation.reveal{
    opacity:0;
    transform: translateY(-30px);
}
#reservation.reveal-visible{
    opacity: 1;
    transform: translateY(0);

}



@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes logoapparition{
    100%{
        opacity: 1;
        transform: translateY(-60px);
    }
}


@media screen and (max-width: 600px){

    .hero-content .title{
        font-size: 15vw;
    }

    .hero-content .subtitle{
        font-size: 10vw;
    }
}

@media screen and (max-width: 900px) {

    .nav-buttons button{
        display: none;
    }
    
    main .center-logo {
        margin: 50px auto;
    }

    .hero-content{
        padding: 10vh 0 5vh;
    }

    

}

@media screen and (max-width:1250px){

    .card{
        display: flex;
        height: 500px;
    }
    .card-title{
        font-size: 6vw;
    }

    .card .card-description{
        font-size: 3vw;
    }

    .card.inverted .text-content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .card.inverted .card-description{
        margin: 10px 0 0 30px;
        text-align: right;
    }

    .card a::before{
        display: none;
    }
}